<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Register</title>
</head>
<body>
    
    <form th:action="@{/success}" th:object="${customer}" method="POST">
   <!-- customerid <input type="text" th:field="*{customerid}" /> -->
   first name <input type="text" th:field="*{firstname}" />
   last name <input type="text" th:field="*{lastname}" />
    mobileno  <input type="text" th:field="*{mobileno}" />
   email <input type="text" th:field="*{email}" />
    password<input type="text" th:field="*{password}" />
   address <input type="text" th:field="*{address}" />
   birthdate <input type="text" th:field="*{birthdate}" />
   
                  
                  
                  
                  <input type="radio" th:field="*{gender}" th:text="male" th:value="Male" />
                  <input type="radio" th:field="*{gender}" th:text="female" th:value="female" />
    
    <input type="submit" value="Submit" />
                 <!--  <a th:href="@{/}">Cancel</a> -->
      </form> 
</body>
</html>