<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">0
	 /*<![CDATA[*/
		$(document).ready(function(){
			
			$('#listAllBank').on('change' , function(){
				
				var bank = $('#listAllBank option:selected').val();
				
				var bankid=parseInt(bank);

				$.ajax({
					type:'GET' ,
					contentType: "application/json" ,
					url:'/loadAllBranch/' + bankid +'.html' ,
					success:function(result){
						console.log("inside function");
						var result =  JSON.parse(result);
						var s ='<option>Select Branch</option>';
						console.log(result.length);
						
						for(var i = 0 ; i< result.length ; i++ )
							{
							s +='<option value="'+ result[i].branchid +'">' + result[i].branchname +'</option>'
							console.log("value of s" + s);
							}
						
						$('#listAllBranch').html(s);
					}
				})
				
			});
			
			
			
$('#listAllBranch').on('change' , function(){
				
				var bank = $('#listAllBranch option:selected').val();
				var branchid=parseInt(bank);

				$.ajax({
					type:'GET' ,
					contentType: "application/json" ,
					url:'/loadAllLoanType/' + branchid +'.html' ,
					success:function(result){
						console.log("inside function");
						var result =  JSON.parse(result);
						var l ='<option>Select loan type</option>';
						console.log(result.length);
						
						for(var i = 0 ; i< result.length ; i++ )
							{
							l +='<option value="'+ result[i].loantypeid +'">' + result[i].loantypename +'</option>'
							console.log("value of l" + l);
							}
						
						$('#listAllLoanType').html(l);
					}
				})
				
			});
			
			
			
$('#listAllLoanType').on('change' , function(){
	var loanType = $('#listAllLoanType option:selected').val();
	$.ajax({
		type:'GET',
		contentType: "application/json",
		url:'/test/' + loanType + '.html' ,
		success:function(result){
			$('#listAllLoanType').html(l);
		}
	})
	
});
			
		});
		 /*]]>*/
	
	</script>
	
	
</head>
<body>
<form th:action="@{/viewloanapplication}" th:object="${loanapplication}" method="post" >
	<h2>Hello</h2>
	<h1>Registration successful</h1>l
	<!-- <h1 th:text = '${customer.firstname}'></h1> -->
	
	
	
Bank
	<select id="listAllBank" >
	<option>Select Bank</option>
             <option th:each="list : ${listAllBank}" th:value="${list.bankid}" th:text="${list.bankname}"></option>

    </select>
    <br/>
    Branch
    <select id="listAllBranch" >
             <option th:each="list : ${s}" th:value="${list.branchid}" th:text="${list.branchname}" th:field="*{branchid}" ></option>

    </select>  
     <br/>
     
     Loan Type
    <select id="listAllLoanType" >
             <option th:each="list : ${l}" th:value="${list.loantypeid}" th:text="${list.loantypename}" th:field="*{loantypeid}"></option>

    </select>  
    Loan Amount 
     <input type="text" th:field="*{loanamount}" />
     
    Loan Duration 
    <input type="text" th:field="*{duration}" placeholder="in months" />
    
    Annual Income
      <input type="text" th:field="*{annualincome}" />
      <input type="submit" value="Apply" />
                  <a th:href="@{/}">Cancel</a>
                  
                  </form>
	
</body>
</html>