<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/viewloanapplication}" th:object="${loanapplication}" method="post" >
Loan Applications list

<table >
            <tr th:each="loanApplications: ${loanApplications}">
               <td th:text="${loanApplications}">1</td>
               <!-- <td><a href="#" th:text="${message.name}">Title ...</a></td>-->
            </tr>
        </table>








</form>

</body>
</html>